@media (max-width : 1200px) {
    .card{
        margin-top: 2rem;
        width: 40%;
    }
}

@media (max-width : 800px) {
nav {
    display: block;
}
.none{
    display: none;
}
form {
    width: 100%;
}
.all{
    display: flex;
    flex-direction: column-reverse;
}
.cardds {
    display: flex;
    flex-direction: column-reverse;
}
.card{
    margin-top: 2rem;
    width: 100%;
}
.all-page{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 2rem;
    align-items: center
}
}